<?xml version="1.0"?>

<launch>
		<param name="use_sim_time" value="true" />

		<!--
		<node pkg="radar_odometry" type="sim_gps.py" name="sim_gps" output="log"> </node>

		<node pkg="radar_odometry" type="radar_ego_motion" name="radar_ego_motion" output="log"> </node>

    <node pkg="nuscenes" type="gt_odom_publisher" name="gt_odom_publisher" output="screen"> </node>

    <node pkg="nuscenes" type="origin_tf_publisher" name="origin_tf_publisher" output="log"> </node>

    <node pkg="radar_odometry" type="vel_intgration" name="vel_intgration" output="log">
        <remap from="/gt_vel" to="/vel"/>
        <remap from="/gt_ego_motion" to="/radar_odometry"/>
    </node>
  	-->

<!-- -->
		<node pkg="robot_localization" type="ekf_localization_node" name="ekf" clear_params="true">
				<rosparam command="load" file="$(find localization)/param/test_ekf_params.yaml" />
		</node>


</launch>
