<?xml version="1.0"?>

<launch>

		<node pkg="radar_odometry" type="radar_ego_motion" name="radar_ego_motion" output="log"> </node>

    <node pkg="nuscenes" type="gt_odom_publisher" name="gt_odom_publisher" output="screen"> </node>

    <node pkg="nuscenes" type="origin_tf_publisher" name="origin_tf_publisher" output="log"> </node>

    <node pkg="radar_odometry" type="vel_intgration" name="vel_intgration" output="log">
        <remap from="/gt_vel" to="/vel"/>
        <remap from="/gt_ego_motion" to="/radar_ego_motion"/>
    </node>

    <node pkg="radar_odometry" type="conti_stack_cov_with_p_unc" name="conti_stack_cov" output="log">
      <remap from="/vel" to="/vel"/>
      <param name="/stack_frame_num" value="3"/>
		</node>

		<!--\\\\\\\\\\\\\\\\\\\\\ Downsample radar freq. \\\\\\\\\\\\\\\\\\\\\\\\\
		<node pkg="radar_odometry" type="downsampled_semi_dense" name="downsampled_semi_dense" output="screen"> </node>
-->

		<!--\\\\\\\\\\\\\\\\\\\\\ Lidar ICP \\\\\\\\\\\\\\\\\\\\\\\\\
		<node pkg="radar_odometry" type="lidar_preprocess" name="lidar_preprocess" output="screen"></node>
		<node pkg="radar_odometry" type="lidar_odometry" name="lidar_odometry" output="screen">
      <remap from="/nuscenes_lidar" to="/nuscenes_lidar_new"/>
		</node>

    <node pkg="radar_odometry" type="kitti_odom_file_generator_tf_version" name="kitti_odom_file_generator_tf_version_for_lo" output="screen">
      <param name="/folder_name" value="/home/joinet/radar_ws/src/radar_odometry/src/res/new/4hz"/>
      <remap from="/radar_odom" to="/lidar_odom"/>
      <param name="/msg_flt_buffer" value="20000"/>

      <param name="/gt_file_name" value="test_gt.txt"/>
      <param name="/res_file_name" value="test.txt"/>
    </node>
-->

    <!--\\\\\\\\\\\\\\\\\\\\\ Stack ICP \\\\\\\\\\\\\\\\\\\\\\\\\
    <node pkg="radar_odometry" type="stack_icp" name="pcl_icp_stack" output="screen">
				  <remap from="/input_pc" to="conti_stack_cov/radar_stack"/>
          <param name="/use_init_guess" value="true"/>
				  <param name="/icp_max_dis" value="2.0"/>
				  <param name="/icp_iteration" value="100"/>
				  <param name="/msg_flt_buffer" value="2000"/>
    </node>
-->
    <!-- \\\\\\\\\\\\\\\\\\\\\ Stack NDT \\\\\\\\\\\\\\\\\\\\\\\\\
    <node pkg="radar_odometry" type="stack_ndt" name="pcl_ndt_stack" output="screen">
      <remap from="/input_pc" to="conti_stack_cov/radar_stack"/>
      <param name="/ndt2d_transformation_epsilon" value="0.00001"/>
      <param name="/ndt2d_step_size" value="0.03"/>
      <param name="/ndt2d_grid_step" value="3"/>
      <param name="/ndt2d_iteration" value="300"/>
      <param name="/msg_flt_buffer" value="2000"/>
			<param name="/viz" value="false"/>
    </node>
-->
    <!--\\\\\\\\\\\\\\\\\\\\\ Stack GND-RO \\\\\\\\\\\\\\\\\\\\\\\\\-->

    <node pkg="radar_odometry" type="stack_ndt_d2d_2d" name="pcl_GND_RO_stack" output="screen">

      <remap from="/input_pc" to="conti_stack_cov/radar_stack"/>
      <remap from="/radar_stack_cov" to="conti_stack_cov/radar_stack_cov"/>
			<remap from="/radar_stack_index" to="conti_stack_cov/radar_stack_index"/>

      <param name="/ndt2d_max_it_" value="300"/>
      <param name="/ndt2d_eps_" value="0.00001"/>
      <param name="/ndt2d_grid_step_" value="5"/>
      <param name="/ndt2d_step_size_x_" value="0.01"/>
      <param name="/ndt2d_step_size_y_" value="0.01"/>
      <param name="/ndt2d_step_size_theta_" value="0.01"/>
      <param name="/msg_flt_buffer" value="2000"/>
      <param name="/viz" value="false"/>
    </node>


<!-- 
    <node pkg="radar_odometry" type="kitti_odom_file_generator_tf_version" name="kitti_odom_file_generator_tf_version" output="screen">
      <param name="/folder_name" value="/home/joinet/radar_ws/src/radar_odometry/src/res/new/4hz"/>
      <remap from="/radar_odom" to="/pcl_GND_RO_stack/ndt_d2d_odom"/>
      <param name="/msg_flt_buffer" value="2000"/>

      <param name="/gt_file_name" value="s3_gnd_cov_section1.1_gt.txt"/>
      <param name="/res_file_name" value="s3_gnd_cov_section1.1.txt"/>
    </node>
 -->

<!--
    <node pkg="radar_odometry" type="kitti_odom_file_generator_tf_version" name="kitti_odom_file_generator_tf_version2" output="screen">
      <param name="/folder_name" value="/home/joinet/Downloads/kitti/devkit/cpp/results/new/icp/s3/data"/>
      <remap from="/radar_odom" to="/pcl_icp_stack/icp_odom"/>
      <param name="/msg_flt_buffer" value="2000"/>

      <param name="/gt_file_name" value="s3_icp_section3_gt.txt"/>
      <param name="/res_file_name" value="s3_icp_section3.txt"/>
    </node>
  -->

<!-- /pcl_icp_stack/icp_odom /pcl_ndt_stack/ndt_odom /pcl_GND_RO_stack/ndt_d2d_odom -->

<!--
    <node pkg="radar_odometry" type="kitti_odom_file_generator_tf_version" name="kitti_odom_file_generator_tf_version3" output="screen">
      <param name="/folder_name" value="/home/joinet/radar_ws/src/radar_odometry/src/res/new"/>
      <remap from="/radar_odom" to="/radar_ego_motion"/>
      <param name="/msg_flt_buffer" value="2000"/>

      <param name="/gt_file_name" value="ego_section1_gt.txt"/>
      <param name="/res_file_name" value="t.txt"/>
    </node>
-->



    <!--
    <node pkg="radar_odometry" type="odom_error_cal" name="odom_error_cal" output="screen">
      <remap from="/radar_ego_motion" to="/pcl_icp_stack/icp_odom"/>
      <param name="/frame_count_num" value="10"/>
      <param name="/msg_flt_buffer" value="1000"/>
		</node>
    -->
    <!--
    <node pkg="radar_odometry" type="odom_error_cal_kitti" name="odom_error_cal" output="screen">
      <remap from="/radar_ego_motion" to="/pcl_icp_stack/icp_odom"/>
      <param name="/frame_count_num" value="1"/>
      <param name="/msg_flt_buffer" value="1000"/>
    </node>
    <node pkg="radar_odometry" type="error_mean" name="error_mean_stack" output="screen">
        <remap from="/error" to="/odom_error_cal/interval_odom_error"/>
    </node>
    -->



</launch>
