<launch>

  <node pkg="radar_odometry" type="radar_ego_motion" name="radar_ego_motion" output="log"> </node>

  <node pkg="nuscenes" type="gt_odom_publisher" name="gt_odom_publisher" output="screen"> </node>

  <node pkg="nuscenes" type="origin_tf_publisher" name="origin_tf_publisher" output="log"> </node>

  <node pkg="radar_odometry" type="vel_intgration" name="vel_intgration" output="log">
      <remap from="/gt_vel" to="/vel"/>
      <remap from="/gt_ego_motion" to="/radar_ego_motion"/>
  </node>

  <node pkg="radar_odometry" type="conti_joint_doppler_weight" name="conti_joint_doppler_weight" output="screen" respawn="true"> </node>


  <node pkg="radar_odometry" type="joint_doppler_ndt" name="joint_doppler_ndt" output="screen" respawn="true">
      <remap from="/input_pc" to="/conti_joint_doppler_weight/radar_combined"/>
      <param name="/ndt2d_transformation_epsilon" value="0.0001"/>
      <param name="/ndt2d_step_size" value="0.005"/>
      <param name="/ndt2d_grid_step" value="7"/>
      <param name="/ndt2d_iteration" value="400"/>
      <param name="/msg_flt_buffer" value="2000"/>
      <param name="/viz" value="false"/>
  </node>

<!--
<node pkg="radar_odometry" type="kitti_odom_file_generator_tf_version" name="kitti_odom_file_generator_tf_version" output="screen">
  <param name="/folder_name" value="/home/joinet/radar_ws/src/radar_odometry/src/res/new/doppler_ndt/fail_detect"/>
  <remap from="/radar_odom" to="/joint_doppler_ndt/joint_doppler_ndt_odom"/>
  <param name="/msg_flt_buffer" value="2000"/>

  <param name="/gt_file_name" value="doppler_ndt_v2_section3_gt.txt"/>
  <param name="/res_file_name" value="doppler_ndt_v2_section3.txt"/>
</node>
-->

</launch>
